* {
  font-family: 'JetBrains Mono Variable', monospace;
}

html {
  scroll-behavior: smooth;
}

/*-- HEADER SECTION --*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Enhanced Glassmorphism effect */
.glassmorphism::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(2, 6, 23, 0.4);
  backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%);
  z-index: -1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1023px) {
  #menu-toggle {
    display: block;
    position: relative;
    z-index: 50;
  }

  #menu-items.mobile-menu-active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(23, 23, 23, 1);
    padding: 6rem 2rem 1rem 3rem;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 30;
  }

  #menu-items.mobile-menu-active .menu-item {
    margin-bottom: 1.5rem;
    width: 100%;
  }

  #menu-items.mobile-menu-active .menu-item:last-child {
    margin-bottom: 0;
  }

  #menu-items.mobile-menu-active a {
    display: inline-block;
    padding: 0.5rem 0;
    font-size: 1.1rem;
  }

  body.menu-open {
    overflow: hidden;
  }

  #main-nav {
    transition: background-color 0.3s ease-in-out;
  }

  .glassmorphism #menu-items.mobile-menu-active {
    background-color: rgba(23, 23, 23, 1) !important;
  }
}

/*-- HERO SECTION --*/
.group:hover .group-hover\:w-full {
  width: 100% !important;
}