---
import avatar from "../images/dev_avatar.png";
import bgSection from '../images/section1.svg';
---

<section id="about" class="min-h-screen flex flex-col lg:flex-row gap-0 md:gap-12 lg:gap-12 border-y border-[#25213bc2]">

  <!-- Background -->
  <img
    alt="About Img"
    loading="lazy"
    width="1572"
    height="795"
    decoding="async"
    data-nimg="1"
    class="absolute opacity-25"
    style="color:transparent"
    src={bgSection.src}
  />
  <!-- Background -->

  <!-- Content -->
  <div class="w-full lg:w-1/2 lg:h-auto flex flex-col justify-center items-center lg:items-start mt-6 md:mt-12 lg:mt-0">
    <div class="w-full flex flex-col items-center lg:items-start">
      <div class="flex items-center w-full lg:mt-20 mb-8">
        <h2 class="text-3xl md:text-4xl text-text">
          <span class="text-slate-400">01</span>
          <span class="text-slate-300">About me</span>
        </h2>
        <svg
          class="relative md:w-96 hidden md:inline-flex !ml-10"
          fill="none"
          height="2"
          viewBox="0 0 438 2"
          width="438"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 1H438" stroke="#C7D3FF"></path>
        </svg>
      </div>
      <div class="space-y-4">
        <p class="text-lg text-gray-100">
          Soy un desarrollador fullstack apasionado por crear 
          <span class="text-amber-400">soluciones eficientes y elegantes</span> en la web.
        </p>
        <p class="text-lg text-gray-100">
          Especializado en
          <span class="text-blue-400">PHP</span>,
          <span class="text-blue-400">Laravel</span> y
          <span class="text-blue-400">JavaScript</span>, 
          tengo experiencia trabajando en proyectos tanto del lado del cliente como del servidor.
        </p>
        <p class="text-lg text-gray-100">
          Me encanta enfrentar desafíos complejos y transformarlos en aplicaciones funcionales y atractivas.
        </p>
      </div>			
    </div>
  </div>
  <!-- Content -->

  <!-- Image -->
  <div class="w-full lg:w-1/3 flex justify-center lg:justify-end items-center my-0 md:my-20">
    <div class="relative flex justify-center items-center max-sm:scale-50 group">
      <div class="absolute">
        <div class="flex w-[300px] h-[300px] justify-center items-center relative">
          <div class="w-[110%] h-[110%] shadow-lg shadow-green-400 bg-transparent rounded-full absolute group-hover:shadow-green-500 transition-shadow duration-300"></div>
          <div class="w-[108%] h-[108%] shadow-lg shadow-indigo-700 bg-transparent rounded-full absolute rotate-90 group-hover:shadow-indigo-500 transition-shadow duration-300"></div>
          <div class="w-[106%] h-[106%] shadow-lg shadow-gray-600 bg-transparent rounded-full absolute rotate-180 group-hover:shadow-gray-400 transition-shadow duration-300"></div>
        </div>
      </div>
  
      <div class="relative w-[280px] h-[280px] rounded-full overflow-hidden">
        <img
          alt="Avneesh Agarwal"
          loading="lazy"
          width="360"
          height="360"
          decoding="async"
          class="w-full h-full object-cover scale-110 group-hover:scale-115 transition-transform duration-300"
          style="color:transparent"
          src={avatar.src}
        />
      </div>
    </div>
  </div>
  <!-- Image -->

</section>
