---
---

<div class="w-full h-full flex flex-col bg-[#1c2333] rounded-lg lg:rounded-l-none shadow-2xl border border-[#2a324d] opacity-80">
  <!-- Title Bar -->
  <div class="h-10 bg-[#1c2333]/80 backdrop-blur-sm py-6 px-4 md:px-8 lg:px-10 flex items-center justify-end border-b border-[#2a324d]">
    <div class="flex items-center text-[#8790a7] text-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-5 h-5 text-blue-500 mr-2"
      >
        <polyline points="4 17 10 11 4 5"></polyline>
        <line x1="12" y1="19" x2="20" y2="19"></line>
      </svg>
      <span class="text-amber-400">Contáctame...</span>
    </div>
  </div>
  
  <!-- Form -->
  <div class="flex-grow p-4 md:p-8 lg:p-10 text-green-400 font-mono">
    <form class="h-full flex flex-col justify-between">
      <div class="space-y-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div class="relative z-0">
            <input
              type="text"
              id="full_text"
              class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-600 appearance-none focus:outline-none focus:ring-0 focus:border-[#00ff00] peer"
              placeholder=" "
            />
            <label for="full_text" class="absolute text-md text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-[#00ff00] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">
              Nombre y apellido
            </label>
          </div>
    
          <div class="relative z-0">
            <input
              type="email"
              id="email"
              class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-600 appearance-none focus:outline-none focus:ring-0 focus:border-[#00ff00] peer"
              placeholder=" "
            />
            <label for="email" class="absolute text-md text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-[#00ff00] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">
              Correo
            </label>
          </div>
        </div>
    
        <div class="relative z-0">
          <input
            type="text"
            id="subject"
            class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-600 appearance-none focus:outline-none focus:ring-0 focus:border-[#00ff00] peer"
            placeholder=" "
          />
          <label for="subject" class="absolute text-md text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-[#00ff00] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">
            Asunto
          </label>
        </div>
    
        <div class="relative z-0 flex-grow">
          <textarea 
            id="message" 
            required
            rows="8"
            placeholder=" "
            class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-600 appearance-none focus:outline-none focus:ring-0 focus:border-[#00ff00] peer"
          ></textarea>
          <label for="message" class="absolute text-md text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-[#00ff00] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">
            Mensaje
          </label>
        </div>
      </div>
      
      <button 
        type="submit" 
        class="group flex items-center text-gray-300 hover:text-[#00ff00] transition-colors mt-4"
      >
        ENVIAR MENSAJE
        <svg 
          class="w-4 h-4 ml-2 transform transition-transform group-hover:translate-x-1" 
          fill="none" 
          stroke="currentColor" 
          viewBox="0 0 24 24"
        >
          <path 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2" 
            d="M17 8l4 4m0 0l-4 4m4-4H3"
          />
        </svg>
      </button>
    </form>
  </div>
</div>