---
const year = new Date().getFullYear();
---

<footer class="bg-gray-900/60 rounded-t-lg shadow">
	<div class="w-full mx-auto max-w-screen-xl p-5 text-center">
		<span class="text-sm text-gray-300 ">
			@{year} <a href="#" class="hover:underline">VFH DEV™</a>. Todos los derechos reservados.
		</span>
	</div>
</footer>
