---
import ProjectItem from './ProjectItem.astro';
import { projectsData } from '../data/ProjectsData';


---

<section id="projects" class="min-h-screen py-12">
  <div class="container mx-auto mt-12 lg:mt-20">
    <!-- Title -->
    <div class="flex items-center w-full mb-12">
      <h2 class="text-3xl md:text-4xl text-text">
        <span class="text-orange-500">02</span>
        <span class="text-cyan-300">Projectos</span>
      </h2>
      <svg
        class="relative md:w-96 hidden md:inline-flex !ml-10"
        fill="none"
        height="2"
        viewBox="0 0 438 2"
        width="438"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 1H438" stroke="#C7D3FF"></path>
      </svg>
    </div>
    <!-- Title -->
    <!-- Card -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
      {
        projectsData.map( ({ title, description, technologies, liveUrl, githubUrl }) => (
          <ProjectItem
            title={ title }
            description={ description }
            technologies={ technologies }
            liveUrl={ liveUrl }
            githubUrl={ githubUrl }
          />
        ))
      }
    </div>
    <!-- Card -->
  </div>
</section>
